<div class="d-flex __dialog-container __br-brl __br-trl">
  <div class="d-flex w-100 __vector-background __br-trl"></div>
  <div class="mt-2">
    <mat-form-field appearance="outline">
      <mat-label>Give it a Name, say Interest Colector</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>

  <div class="d-flex w-100 mt-auto __dialog-action-container __br-brl">
    <div class="d-flex w-50 __dialog-action-btn-left __br-bl">
      <span class="m-auto bold-text">Ok</span>
    </div>

    <div class="d-flex w-50 __dialog-action-btn-right __br-br" (click)="closeDialog()">
      <span class="m-auto bold-text">Cancel</span>
    </div>
  </div>
</div>
