.__list-container {
  background-color: var(--white);
  width: var(--pane-width);
  position: fixed;
}

.__list-container,
.__list-details-container {
  overflow-y: auto;
  overflow-x: hidden;
  /* margin-top: var(--main-nav-height); */
  height: calc(100% - var(--main-nav-height) - var(--top-navbar-height));
}

.__list-container {
  flex-direction: column;
}

.__list-container-toolbar {
  background-color: var(--light-dark-grey);
  height: var(--toolbar-height);
  position: fixed;
  z-index: 10000;
  box-shadow: 0px 0 7px .5px var(--white-shadow);
}

.__list-container-toolbar {
  background-color: var(--light-dark-grey);
  width: var(--pane-width);
}

.__list-container-toolbar-text,
.__list-container-toolbar-add-btn
{
  color: var(--white);
}

.__list-container-toolbar-text {
  font-weight: 600!important;
  font-size: .85rem;
}

.__list-container-toolbar-add-btn,
.__list-container-toolbar-add-btn {
  font-size: .8rem!important;
}

.__list-container-toolbar-add-btn:hover {
  color: #e83e8c;
}

.__list-container-items {
  height: 50px;
  flex-direction: row;
}

/* mock */

.__icon {
  width: 2.3rem;
  height: 2rem;
  background-color: var(--mock-color);
  border-radius: 50%;
}

/* mock */

.__list-container-items:hover,
.__form-properties-item:hover {
  box-shadow: 0 0 2.5px 0 #adb5bd;
  margin: .5rem 0;
  z-index: 10000;
  transition: ease-out .3s;
}

.__list-container-items-icon {
  color: var(--red);
}

.__list-container-items-main-details {
  width: 190px;
}

.__list-container-items-main-details-title {
  font-weight: 600;
}

.__list-container > div:nth-child(2) {
  margin-top: 2.8rem;
}

.__list-container .__list-container-items:nth-last-child(1) {
  margin-bottom: 8rem;
}

.__list-container-items-main-details :nth-child(2) {
  font-size: 11px;
  line-height: .7rem;
  text-align: left;
  max-width: 100%;
}

.__list-container-items-action-icons {
  font-size: 0.85em!important;
}

.__list-container-items-action-icons:hover {
  color: var(--purple);
}

.__list-details-container {
  margin-left: var(--pane-width);
  position: fixed;
  background-color: #f8f9faf5;
  width: calc(100% - var(--pane-width) - var(--sidebar-width));
}

.__move-right {
  right: var(--pane-width);
}
