<div class="d-flex __list-container">
  <div class="d-flex __list-container-toolbar">
    <span class="ml-3 my-auto __list-container-toolbar-text">Forms</span>
    <i class="fas fa-plus fa-1x my-auto ml-auto  __list-container-toolbar-add-btn mr-4"></i>
  </div>

  <!-- items here -->
  <div *ngIf="forms !== undefined; else formElseBlock">
    <div *ngFor="let form of forms" class="d-flex __list-container-items w-100">
      <i class="fa fa-list fa-1x my-auto ml-3 __list-container-items-icon"></i>
      <div class="ml-3 d-flex __list-container-items-main-details">
        <span class="mt-2 __list-container-items-main-details-title"> {{ form.title }} </span>
        <span class="text-truncate d-flex"> name, blah, de, blah, blah blah</span>
      </div>
      <i class="fa fa-pen mr-2 my-auto fa-1x __list-container-items-action-icons"></i>
      <i class="far fa-trash-alt fa-1x mr-3 my-auto __list-container-items-action-icons"></i>
    </div>
  </div>

  <ng-template #formElseBlock>
    <div *ngFor="let mock of mocks" class="d-flex __list-container-items w-100 mb-2">
      <div class="d-flex my-auto ml-3 __icon"></div>
      <div class="ml-3 d-flex __list-container-items-main-details">
        <div class="mt-2 mr-2 __list-container-items-main-details-title-mock"></div>
        <div class="mt-2 mr-2 __list-container-items-main-details-list-mock"></div>
      </div>
      <i class="fa fa-pen mr-2 my-auto fa-1x __list-container-items-action-icons-mock"></i>
      <i class="fas fa-trash fa-1x mr-3 my-auto __list-container-items-action-icons-mock"></i>
    </div>
  </ng-template>
</div>

<div class="d-flex __list-details-container">
  <div class="d-flex __form-properties-toolbar">
    <span class="text-uppercase ml-3 my-auto __form-properties-toolbar-title">properties</span>
    <i class="fa fa-plus mr-3 my-auto ml-auto __form-properties-toolbar-add-btn"></i>
  </div>

  <!-- more details -->
  <div class="__form-properties-container d-flex mx-3 mb-2">
    <div class="d-flex __form-properties-item py-2 pl-3">
      <div class="d-flex __form-properties-details">
        <span>Column: Name, Phone Number, Use... </span>
        <span>Type</span>
      </div>
      <i class="fa fa-pen my-auto mr-2 ml-auto __list-container-items-action-icons"></i>
      <i class="far fa-trash-alt my-auto mr-3 __list-container-items-action-icons"></i>
    </div>

    <div class="d-flex __form-properties-item py-2 pl-3">
      <div class="d-flex __form-properties-details">
        <span>Column: Name, Phone Number, Use... </span>
        <span>Type</span>
      </div>
      <i class="fa fa-pen my-auto mr-2 ml-auto __list-container-items-action-icons"></i>
      <i class="far fa-trash-alt my-auto mr-3 __list-container-items-action-icons"></i>
    </div>

    <div class="d-flex __form-properties-item py-2 pl-3">
      <div class="d-flex __form-properties-details">
        <span>Column: Name, Phone Number, Use... </span>
        <span>Type</span>
      </div>
      <i class="fa fa-pen my-auto mr-2 ml-auto __list-container-items-action-icons"></i>
      <i class="far fa-trash-alt my-auto mr-3 __list-container-items-action-icons"></i>
    </div>
  </div>
</div>
