<div class="d-flex __prermission-records-container">
  <div class="d-flex w-100 __permission-record-header">
    <div class="d-flex ml-3 my-auto __permission-list-icon">
      <span class="m-auto __bold-text">L</span>
    </div>

    <span class="d-flex ml-2 my-auto __bold-text">Level</span>
    <span class="d-flex ml-2 my-auto __bold-text">assigned to ...</span>
  </div>

  <div class="d-flex w-100 __permission-record-body">
    <span>title from forms</span>
    <span>level</span>
  </div>
</div>
