<!-- main navbar -->
		<nav class="__navbar d-flex">
			<!-- search button -->
			<i class="my-auto ml-2 fas fa-search __search-icon"></i>

			<!-- create new button -->
			<div class="__navbar-left-group ml-auto d-flex form-inline">
				<button class="__btn-create my-auto mr-2 p-2 form-inline d-flex">
				</button>
				<div class="d-flex">
					<i class="fas fa-bell mx-2  __notification-icon"></i>
					<span class="badge badge-danger __notification-icon-badge"></span>
				</div>
				<div class="__user-image __user-image-mock my-auto ml-2 mr-4"></div>
			</div>
		</nav>

		<!-- section -->
		<!-- sidebar  -->
		<nav class="__sidebar d-flex h-100">
			<!-- brand logo -->
			<div class="__brand-logo-container mx-auto mt-3 d-flex form-inline">
				<img class="m-auto" src="./assets/svgs/orange.svg" alt="brand_logo"/>
			</div>
		</nav>

		<!-- section -main -->
		<main class="__main d-flex h-100">
      <i class="fa fa-spinner fa-spin fa-pulse fa-5x m-auto __spinner"></i>
			<!-- quick action -->
			<div class="d-flex ml-3 __quick-action px-3 py-2 mb-3">
				<div class="__quick-action-icon-container py-2 px-3">
					<i class="fas fa-search my-auto __quick-action-icon"></i>
				</div>
				<div class="__quick-action-icon-container ml-3 py-2 px-3">
					<i class="fas fa-cog my-auto __quick-action-icon"></i>
				</div>
			</div>
		</main>
