<div class="d-flex __list-details-container">
  <div class="d-flex __form-properties-toolbar">
    <span class="text-uppercase ml-3 my-auto __form-properties-toolbar-title">properties</span>
    <i class="fa fa-plus mr-3 my-auto ml-auto __form-properties-toolbar-add-btn"></i>
  </div>

  <div class="__form-properties-container d-flex mx-3 mb-2">
    <!-- more details -->
    <div class="d-flex __form-properties-item py-2 pl-3">
      <div class="d-flex __form-properties-details">
        <span>Column: Name, Phone Number, Use... </span>
        <span>Type</span>
      </div>
      <i class="fa fa-pen my-auto mr-2 ml-auto __list-container-items-action-icons"></i>
      <i class="far fa-trash-alt my-auto mr-3 __list-container-items-action-icons"></i>
    </div>

    <div class="d-flex __form-properties-item py-2 pl-3">
      <div class="d-flex __form-properties-details">
        <span>Column: Name, Phone Number, Use... </span>
        <span>Type</span>
      </div>
      <i class="fa fa-pen my-auto mr-2 ml-auto __list-container-items-action-icons"></i>
      <i class="far fa-trash-alt my-auto mr-3 __list-container-items-action-icons"></i>
    </div>

    <div class="d-flex __form-properties-item py-2 pl-3">
      <div class="d-flex __form-properties-details">
        <span>Column: Name, Phone Number, Use... </span>
        <span>Type</span>
      </div>
      <i class="fa fa-pen my-auto mr-2 ml-auto __list-container-items-action-icons"></i>
      <i class="far fa-trash-alt my-auto mr-3 __list-container-items-action-icons"></i>
    </div>

    <div class="d-flex __form-properties-item py-2 pl-3">
      <div class="d-flex __list-container-items-main-details">
        <div class="mt-2 mr-2 __list-container-items-main-details-title-mock w-100"></div>
        <div class="mt-2 mr-2 __list-container-items-main-details-list-mock"></div>
      </div>
      <i class="fa fa-pen my-auto mr-2 ml-auto __list-container-items-action-icons-mock"></i>
      <i class="fas fa-trash fa-1x mr-3 my-auto __list-container-items-action-icons-mock"></i>
    </div>
  </div>
</div>
