<div class="d-flex __list-details-container">
  <div class="d-flex __form-properties-toolbar" (mouseover)="showEl(icon)" (mouseleave)="hideEl(icon)">
    <span class="text-uppercase ml-3 my-auto __form-properties-toolbar-title">properties</span>
    <i class="fa fa-plus mr-3 my-auto ml-auto __form-properties-toolbar-add-btn d-none" #icon data-toggle="tooltip" data-placement="top" title="add properties" (click)="addProperties()"></i>
  </div>

  <div class="__form-properties-container d-flex mx-3 mb-2">
    <!-- more details -->
    <div *ngIf="lists !== undefined; else listElseBlock;">
      <div *ngFor="let list of lists" class="d-flex __form-properties-item py-2 pl-3" (mouseover)="showItemIcons(parentItem)" (mouseleave)="hideItemIcons(parentItem)" #parentItem>
        <div class="d-flex __form-properties-details">
          <span> {{ list.key }} </span>
          <span> {{ list.type }} </span>
        </div>
        <i class="fa fa-pen my-auto mr-2 ml-auto __list-container-items-action-icons d-none" data-toggle="tooltip" data-placement="top" title="edit" (click)="editProperty(list)"></i>
        <i class="far fa-trash-alt my-auto mr-3 __list-container-items-action-icons d-none" data-toggle="tooltip" data-placement="top" title="delete" (click)="deleteProperty(list)"></i>
      </div>

      <div *ngIf="lists.length === 0" class="d-flex py-3 w-100">
        <span class="mx-auto bold-text">List is empty...</span>
      </div>
    </div>

    <ng-template #listElseBlock>
      <div *ngFor="let mock of mocks" class="d-flex __form-properties-item py-2 pl-3">
        <div class="d-flex __list-container-items-main-details">
          <div class="mt-2 mr-2 __list-container-items-main-details-title-mock w-100"></div>
          <div class="mt-2 mr-2 __list-container-items-main-details-list-mock"></div>
        </div>
        <i class="fa fa-pen my-auto mr-2 ml-auto __list-container-items-action-icons-mock"></i>
        <i class="fas fa-trash fa-1x mr-3 my-auto __list-container-items-action-icons-mock"></i>
      </div>
    </ng-template>
  </div>
</div>
