<div class="__notification-pane d-flex">
  <p class="m-0 text-center w-100 py-2 __notification-pane-title-text">Recent Notifications</p>

  <!-- notification section -->
  <section class="d-flex px-3 mt-3 mx-auto __notification-pane-section">
    <li class="w-100 d-flex __notification-pane-item-container">
      <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
      <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
    </li>
    <div class="__border-line mt-3 w-100 mb-2"></div>

    <li class="w-100 d-flex __notification-pane-item-container">
      <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
      <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
    </li>
    <div class="__border-line mt-3 w-100 mb-2"></div>

    <li class="w-100 d-flex __notification-pane-item-container">
      <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
      <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
    </li>
    <div class="__border-line mt-3 w-100 mb-2"></div>

    <li class="w-100 d-flex __notification-pane-item-container">
      <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
      <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
    </li>
    <div class="__border-line mt-3 w-100 mb-2"></div>

    <li class="w-100 d-flex __notification-pane-item-container">
      <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
      <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
    </li>
    <div class="__border-line mt-3 w-100 mb-2"></div>

    <li class="w-100 d-flex __notification-pane-item-container">
      <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
      <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
    </li>
    <div class="__border-line mt-3 w-100 mb-2"></div>

    <li class="w-100 d-flex __notification-pane-item-container">
      <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
      <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
    </li>
    <div class="__border-line mt-3 w-100 mb-2"></div>

     <li class="w-100 d-flex __notification-pane-item-container">
      <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
      <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
    </li>
    <div class="__border-line mt-3 w-100 mb-2"></div>

     <li class="w-100 d-flex __notification-pane-item-container">
      <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
      <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
    </li>
    <div class="__border-line mt-3 w-100 mb-2"></div>

    <!-- toggle button -->
    <!-- <i class="far fa-caret-square-right __notification-item-icon __notification-pane-toggle-btn"></i> -->
  </section>
</div>
