  <!-- main navbar -->
  <nav class="__navbar d-flex">
    <!-- search button -->
    <i class="my-auto ml-2 fa fa-search"></i>

      <!-- create new button -->
    <div class="__navbar-left-group ml-auto d-flex form-inline">
      <button class="__btn-create my-auto mr-2 p-2 form-inline d-flex">create new <i class="ml-2 fas fa-angle-down __btn-create-icon"></i></button>
      <div class="d-flex">
        <i class="far fa-bell mx-2  __notification-icon"></i>
        <span class="badge badge-danger __notification-icon-badge">1</span>
      </div>
      <img class="__user-image my-auto ml-2 mr-4" src="./assets/imgs/avatar5.png" alt="image">
    </div>
  </nav>

  <!-- section -->
  <!-- sidebar  -->
  <nav class="__sidebar d-flex h-100">
    <!-- brand logo -->
    <div class="__brand-logo-container mx-auto mt-3 d-flex form-inline">
      <img class="m-auto" src="./assets/svgs/orange.svg" alt="brand_logo">
      <!-- <img class="m-auto" src="./assets/imgs/avatar04.png" alt="brand_logo"> -->
      <!-- <p class="my-0 ml-2 __brand-text">Orange Drugs</p> -->
    </div>

    <!-- sidebar links -->
    <div class="__sidebar-nav-group d-flex m-auto px-2 py-3">
      <a href="..." class="__sidebar-nav-link-active d-flex form-inline m-auto px-2 py-3 justify-content-center" data-toggle="tooltip" data-placement="right" title="Users">
        <i class="fa fa-users mx-auto fa-1x"></i>
        <p class="m-0 d-none">Users</p>
      </a>

      <a href="..." class="d-flex form-inline m-auto px-2 py-3 justify-content-center" data-toggle="tooltip" data-placement="right" title="Home">
        <i class="fa fa-home mr-1 fa-1x"></i>
        <p class="m-0 d-none">Home</p>
      </a>

      <a href="..." class="d-flex form-inline m-auto px-2 py-3 justify-content-center" data-tAdd formsoggle="tooltip" data-placement="right" title="Forms">
        <i class="far fa-plus-square mr-1 fa-1x"></i>
        <p class="m-0 d-none">Forms</p>
      </a>

      <a href="..." class="d-flex form-inline m-auto px-2 py-3 justify-content-center" data-toggle="tooltip" data-placement="right" title="List">
        <i class="far fa-list-alt mr-1 fa-1x"></i>
        <p class="m-0 d-none">List</p>
      </a>
    </div>

    <!-- toggle btn -->
    <div class="d-flex mx-auto p-3 mb-4 __toggle-btn">
      <i class="fas fa-arrow-right"></i>
    </div>
  </nav>

  <!-- section -main -->
  <main class="__main h-100">
    <!-- navigation path -->
    <nav class="__main-navigation-navbar d-flex">
      <div class="d-flex mr-auto ml-5">
        <a href="..." class="__main-navigation-tab-link form-inline d-flex px-2">
          <i class="mr-2 fa fa-shopping-cart"></i>
          <p class="m-0 __main-navigation-tab-link-text">List</p>
          <p class="m-0 __tab-active-ribbon"></p>
        </a>
      </div>
    </nav>

    <!-- user info pane -->
    <div class="d-flex __user-info-pane">
      <!-- title -->
      <p class="m-0 w-100 text-left __user-pane-title ml-5 mt-3">You</p>

      <!-- image -->
      <div class="w-100 __user-info-pane-image-container">
        <img src="./assets/imgs/avatar04.png" alt="image" class="m-auto d-flex __user-info-pane-image">
      </div>

      <!-- details  -->
      <div class="mt-4 px-3">
        <div class="w-100 d-flex __user-info-pane-details-card">
          <p class="m-0 mt-1 ml-3 w-100 text-left __user-info-pane-details-label">Email</p>
          <p class="m-0 w-100 mt-2 mb-2 pr-3 text-right __user-info-pane-details-text">mail@mail.co.uk</p>
        </div>

        <div class="w-100 d-flex __user-info-pane-details-card mt-4">
          <p class="m-0 mt-1 ml-3 w-100 text-left __user-info-pane-details-label">Phone number</p>
          <p class="m-0 w-100 mt-2 mb-2 pr-3 text-right __user-info-pane-details-text">+(234) 812 345 6901</p>
        </div>

        <div class="w-100 d-flex __user-info-pane-details-card mt-4">
          <p class="m-0 mt-1 ml-3 w-100 text-left __user-info-pane-details-label">Address</p>
          <p class="m-0 w-100 mt-2 mb-2 pr-3 text-right __user-info-pane-details-text">00, address street. Long road, Antartica.</p>
        </div>
      </div>
    </div>

    <!-- notification pane -->
    <div class="__notification-pane d-none">
      <p class="m-0 text-center w-100 py-2 __notification-pane-title-text">Recent Notifications</p>

      <!-- notification section -->
      <section class="d-flex px-3 mt-3 mx-auto __notification-pane-section">
        <li class="w-100 d-flex __notification-pane-item-container">
          <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
          <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
        </li>
        <div class="__border-line mt-3 w-100 mb-2"></div>

        <li class="w-100 d-flex __notification-pane-item-container">
          <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
          <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
        </li>
        <div class="__border-line mt-3 w-100 mb-2"></div>

        <li class="w-100 d-flex __notification-pane-item-container">
          <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
          <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
        </li>
        <div class="__border-line mt-3 w-100 mb-2"></div>

        <li class="w-100 d-flex __notification-pane-item-container">
          <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
          <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
        </li>
        <div class="__border-line mt-3 w-100 mb-2"></div>

        <li class="w-100 d-flex __notification-pane-item-container">
          <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
          <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
        </li>
        <div class="__border-line mt-3 w-100 mb-2"></div>

        <li class="w-100 d-flex __notification-pane-item-container">
          <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
          <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
        </li>
        <div class="__border-line mt-3 w-100 mb-2"></div>

        <li class="w-100 d-flex __notification-pane-item-container">
          <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
          <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
        </li>
        <div class="__border-line mt-3 w-100 mb-2"></div>

         <li class="w-100 d-flex __notification-pane-item-container">
          <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
          <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
        </li>
        <div class="__border-line mt-3 w-100 mb-2"></div>

         <li class="w-100 d-flex __notification-pane-item-container">
          <i class="fa fa-bullhorn my-auto __notification-item-icon"></i>
          <p class="m-0 ml-2 text-justify __notification-pane-item-text">Amaka just submitted a new set of data Amaka just submitted a new set of data</p>
        </li>
        <div class="__border-line mt-3 w-100 mb-2"></div>

        <!-- toggle button -->
        <!-- <i class="far fa-caret-square-right __notification-item-icon __notification-pane-toggle-btn"></i> -->
      </section>
    </div>

    <!-- quick action -->
    <div class="d-flex ml-3 __quick-action px-3 py-2 mb-3">
      <div class="__quick-action-icon-container py-2 px-3">
        <i class="fas fa-search my-auto __quick-action-icon"></i>
      </div>
      <div class="__quick-action-icon-container ml-3 py-2 px-3">
        <i class="fas fa-cog my-auto __quick-action-icon"></i>
      </div>
    </div>
  </main>
