  <!-- main navbar -->
  <nav class="__navbar d-flex">
    <!-- search button -->
    <i class="my-auto ml-2 fa fa-search"></i>

      <!-- create new button -->
    <div class="__navbar-left-group ml-auto d-flex form-inline">
      <button class="__btn-create my-auto mr-2 p-2 form-inline d-flex">create new <i class="ml-2 fas fa-angle-down __btn-create-icon"></i></button>
      <div class="d-flex">
        <i class="far fa-bell mx-2  __notification-icon"></i>
        <span class="badge badge-danger __notification-icon-badge">1</span>
      </div>
      <img class="__user-image my-auto ml-2 mr-4" src="./assets/imgs/avatar5.png" alt="image">
    </div>
  </nav>

  <!-- section -->
  <!-- sidebar  -->
  <nav class="__sidebar d-flex h-100">
    <!-- brand logo -->
    <div class="__brand-logo-container mx-auto mt-3 d-flex form-inline">
      <img class="m-auto" src="./assets/svgs/orange.svg" alt="brand_logo">
      <!-- <img class="m-auto" src="./assets/imgs/avatar04.png" alt="brand_logo"> -->
      <!-- <p class="my-0 ml-2 __brand-text">Orange Drugs</p> -->
    </div>

    <!-- sidebar links -->
    <div class="__sidebar-nav-group d-flex m-auto px-2 py-3">
      <a *ngFor="let link of sidebarLinks" [routerLink]="[link.href]" [routerLinkActive]="[__sidebar-nav-link-active]" [routerLinkActiveOptions]="{exact: true}" class="d-flex form-inline m-auto px-2 py-3 justify-content-center" data-toggle="tooltip" data-placement="right" title="{{ link.title }}">
        <i class="{{ link.iconClasses }}"></i>
        <p class="m-0 d-none">link.title</p>
      </a>
    </div>

    <!-- toggle btn -->
    <div class="d-flex mx-auto p-3 mb-4 __toggle-btn">
      <i class="fas fa-arrow-right"></i>
    </div>
  </nav>

  <!-- section -main -->
  <main class="__main h-100">
    <!-- navigation path -->
    <nav class="__main-navigation-navbar d-flex">
      <div class="d-flex mr-auto ml-5">
        <a href="..." class="__main-navigation-tab-link form-inline d-flex px-2">
          <i class="mr-2 fa fa-shopping-cart"></i>
          <p class="m-0 __main-navigation-tab-link-text">List</p>
          <p class="m-0 __tab-active-ribbon"></p>
        </a>
      </div>
    </nav>

    <!-- use router outlet -->
    <!-- user info pane -->
    <app-user-details-pane></app-user-details-pane>

    <!-- notification pane -->
    <app-notification-pane></app-notification-pane>

    <!-- quick action -->
    <div class="d-flex ml-3 __quick-action px-3 py-2 mb-3">
      <div class="__quick-action-icon-container py-2 px-3">
        <i class="fas fa-search my-auto __quick-action-icon"></i>
      </div>
      <div class="__quick-action-icon-container ml-3 py-2 px-3">
        <i class="fas fa-cog my-auto __quick-action-icon"></i>
      </div>
    </div>
  </main>
