/* You can add global styles to this file, and also import other style files */

/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

@font-face {
  font-family: 'Varela Round';
  src: url('./assets/fonts/varela/varela_round-regular.ttf') format('truetype');
}

:root {
  --white: #ffffff;
  --black: #0a0a0a;
  --purple: #440244;
  --orange: #f5a63a;
  --dark-orange: #db8206;
  --grey-white: #b4aea426;
  --white-shadow: #bbb6b6ed;
  --dark-grey: #383d41;
  --link-white: #ffffffe3;
  --mock-color: #ecececfb;
  --active-link-shadow: #e9ecef;
  --light-dark-grey: #383d41cc;
  --background-color: #f6f8fc;
  --dark-blue-1x: #0e5cd6;
  --left-border-radius: 10px;
  --link-border-radius: 10px;
  --border-radius-round: 50%;
  --sidebar-width: 60px;
  --top-navbar-height: 60px;
  --main-nav-height: 40px;
  --pane-width: 280px;
  --toolbar-height: 40px;
  --badge-border-radius: 5px;
  --badge-height: 120px;
  --badge-min-width: 440px;
  --badge-width: 75%;
  --dialog-border-radius: 8px;
  --pr-header: 70px;
}

* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  font-family: 'Varela Round'!important;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  height: 100vh;
  width: 100vw;
}

a {
  color: var(--black);
}

a:hover {
  color: var(--purple);
  text-decoration: none;
}

button:focus {
  outline: 0!important;
}

/* mock */
.__list-container-items-main-details-title-mock,
.__list-container-items-main-details-list-mock {
  background-color: var(--mock-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.__list-container-items-main-details-title-mock {
  height: 15px;
}

.__list-container-items-main-details-list-mock {
  height: 10px;
}

.__list-container-items-action-icons-mock {
  color: var(--mock-color)!important;
}

.__icon {
  width: 2.3rem;
  height: 2rem;
  background-color: var(--mock-color);
  border-radius: 50%;
}

mat-dialog-container {
  padding: 0!important;
  display: flex!important;
  border-radius: var(--dialog-border-radius)!important;
  overflow: hidden!important;
  outline: 0;
  width: auto!important;
  height: auto!important;
}

.__dialog-container {
  max-height: 80%;
  min-width: 320px;
  flex-direction: column;
  border-radius: var(--dialog-border-radius)!important;
  z-index: 5000;
  position: absolute;
}

.__mx-vw-33 {
  max-width: 33vw!important;
}

/* library */
.__bold-text {
  font-weight: 600;
}

.__grey-text {
  color: grey;
  font-weight: 500;
}

.__br-trl {
  border-top-left-radius: var(--dialog-border-radius);
  border-top-right-radius: var(--dialog-border-radius);
}

.__br-brl {
  border-bottom-left-radius: var(--dialog-border-radius);
  border-bottom-right-radius: var(--dialog-border-radius);
}

.__br-tr {
  border-top-right-radius: var(--dialog-border-radius);
}

.__br-tl{
  border-top-left-radius: var(--dialog-border-radius);
}

.__br-br {
  border-bottom-right-radius: var(--dialog-border-radius);
}

.__br-bl{
  border-bottom-left-radius: var(--dialog-border-radius);
}
/* library */

/* mock */

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
