<nav class="d-flex form-inline w-100 __nav-container">
  <img class="ml-4 my-auto __brand-logo" src="../assets/svgs/orange.svg" alt="brand image">
  <span class="ml-2 mr-auto my-auto __bold-text">Orange</span>

  <span class="d-flex mr-1 my-auto __login-btn text-center __bold-text"> Dashboard </span>
  <span class="d-flex mr-1 my-auto __login-btn text-center __bold-text"> Login </span>
  <button class="mr-5 my-auto __signup-btn"> Register </button>
</nav>

<div class="d-flex w-100 h-100 __main-container">
  <div class="d-flex h-100 __main-signup-pane">
    <div class="d-flex mx-5 __main-signup-pane-text">
      <span class="text-left __bold-text">Register to Orange</span>
      <span class="tex-left mt-2 __grey-text">This is why you should register with Orange: we work together</span>
    </div>

    <div class="d-flex mx-5 mt-4 __form-container">
      <div class="d-flex __form-tabs">
        <span class="mr-auto __bold-text">Login</span>
        <!-- <span class="__bold-text">Login</span> -->
      </div>

      <form [formGroup]="signin">
        <div class="d-flex mt-3 __form-fields">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" placeholder="username">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-hint>mail@mail.com</mat-hint>
            <mat-error *ngIf="status.username.invalid"> {{ getErrorMessage.usernameError() }} </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mt-2">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Enter your password"
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
              [ngClass]="{ 'is-invalid': submitted && status.password.errors }"
              required
              autocomplete
            />
            <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? 'visibility_off' : 'visibility'
            }}</mat-icon>
            <mat-error *ngIf="status.password.invalid">{{
              getErrorMessage.passwordError()
            }}</mat-error>
          </mat-form-field>
        </div>

      <button class="mx-auto __form-signup-btn __bold-text text-uppercase" (click)="submit()" [disabled]="status.invalid"> Login </button>
    </form>
    </div>
  </div>

  <div class="d-flex h-100 __main-vector-background">
    <div class="d-flex __badge-container __br mb-2">
      <div class="d-flex __badge-img-container __br">
        <img src="../assets/imgs/2.png" alt="badge-img" class="__badge-img m-auto">
      </div>

      <div class="d-flex ml-3 h-100 w-100 __badge-details-container">
        <span class="d-flex w-100 mt-4 __bold-text">We Protect Data, Help make inference</span>
        <span class="mt-2 mb-auto">Some expalnations on how we do it...</span>
      </div>
    </div>

    <div class="d-flex mx-auto mb-4 mt-2 __badge-slider">
      <span class="mr-2 __round-slider"></span>
      <span class="mr-2 __round-slider __round-slider-active"></span>
      <span class="mr-2 __round-slider"></span>
      <span class="mr-2 __round-slider"></span>
    </div>
  </div>
</div>
